[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
open-autonomy = {version = "==0.21.13", extras = ["all"]}

[dev-packages]
tomte = {version = "==0.6.2", extras = ["tests", "cli"]}
